@{
    ViewData["Title"] = "Start Pagina";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p> <a asp-action="Index" asp-controller="Users"> Create Your Account</a></p>
</div>
